
/* Bannière et compagnie */
        /* mise en place de la grille pour la partie : haut de page*/
        #GrilleHautDePage{
            display: grid;
              /* configuration de la grille en 3 colonnes */
              grid-template-columns: 1fr 1fr 1fr;
              grid-auto-rows: auto, auto, auto, auto; 
              grid-column-gap: 2px;
              grid-row-gap: 1px;
         }
         /* bannière */
         #BannerGrid {
             grid-column: 1 / -1; 
         }
         /* Case de la photo d'ID */
         #ZonePhotoID{
              grid-column: 1;
              grid-row-start: 2; 
              grid-row-end: 4; 
         }
         /* Case dU Prénom&Nom */
         #PetN {
              grid-column: 2 / 4;
              grid-row: 2;
         }
         /* Case du Slogan */
         #Slogan {
              grid-column-start: 1; 
              grid-column-end: 4; 
              grid-row-start: 3; 
              grid-row-end: 4; 
         }
       
    #GrilleDuSommaire{
        display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          grid-auto-rows: repeat(auto-fit, minmax(50px, 1fr));
          grid-column-gap: 2px;
          grid-row-gap: 2px;
          grid-auto-rows: dense;
       }

      #GrilleDesReseauxSociaux{
        display: grid;
          grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
          grid-auto-rows: auto, auto;
          grid-column-gap: 2px;
          grid-row-gap: 2px;
          grid-auto-rows: dense;
       }
